.btnorder:hover{
    scale: 1.1;
    box-shadow: 0 0 15px 0 rgba(234, 132, 48, 0.16), 0 2px 10px 0 rgba(234, 132, 48, 0.16);
    cursor: pointer;
}
.qbtn{
    background-color: #9376be; 
}
.tbtn{
    background-color:#9376be;
     cursor: pointer;
}
@media (min-width: 801px){
    .maincontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .introtext{
        width: 50%;
    }
    .calculator{
        margin-bottom: 28px;
        margin-top: 100px;
    }
}
@media (max-width: 801px){
    .maincontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}